@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background: #7adbe6;
  background: linear-gradient(
    180deg,
    rgba(122, 219, 230, 1) 0%,
    rgba(218, 241, 242, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

body {
  margin: 0;
}
